/** Archivo que guarda los estilos para la aplicación de Óscar Caparrós (Hundir la flota). */
.informacion{
    text-align: center;
    background-color: azure;
    color: blue;
    border: solid red;
}
h1{
    margin: 1px;
}
#timer{
    color: red;
    font-family: fantasy;
    font-size: 20;
}
#partida{
    background-image: url(../img/fondo.png);
    background-repeat: repeat;
    width: 100%;
    height: 100%;
}
#tabla{
    border-collapse: collapse;
    background-image: url(../img/Agua/agua.gif);
    background-size: 100% 100%;
    background-repeat: no-repeat;
}

#tablaPuntuaciones{
    border: 1px solid black;
    width: 40%;
    border-collapse: collapse;
}
th{
    background-color: darkgrey;
}
/** Celda vacía de la tabla */
.vacio{
    background-image: url("../img/vacio.jpg");
    background-size: 100% 100%;
    background-repeat: no-repeat;
    width: 4em;
    height: 4em;
}
/** -----------Estilo inicial para los barcos de la app. 
.fragata{
    background-image: url("../img/fragata.png");
    background-size: 100% 100%;
    background-repeat: no-repeat;
    width: 4em;
    height: 4em;
}

.buque{
    background-image: url("../img/buque.png");
    background-size: 100% 100%;
    background-repeat: no-repeat;
    width: 4em;
    height: 4em;
}
.portaviones{
    background-image: url("../img/portaviones.png");
    background-size: 100% 100%;
    background-repeat: no-repeat;
    width: 4em;
    height: 4em;
.submarino{
    background-image: url("../img/submarino.png");
    background-size: 100% 100%;
    background-repeat: no-repeat;
    width: 4em;
    height: 4em;
}
.destructor{
    background-image: url("../img/destructor.png");
    background-size: 100% 100%;
    background-repeat: no-repeat;
    width: 4em;
    height: 4em;
}
}
*/
.agua{
    background-image: url("../img/Agua/aguaTransparente.png");
    background-size: 100% 100%;
    background-repeat: no-repeat;
    width: 4em;
    height: 4em;
}

/** CSS Para el buque */
.b00{
    background-image: url("../img/Buque/b00.png");
    background-size: 100% 100%;
    background-repeat: no-repeat;
    width: 4em;
    height: 4em;
}
.b10{
    background-image: url("../img/Buque/b10.png");
    background-size: 100% 100%;
    background-repeat: no-repeat;
    width: 4em;
    height: 4em;
}
.b20{
    background-image: url("../img/Buque/b20.png");
    background-size: 100% 100%;
    background-repeat: no-repeat;
    width: 4em;
    height: 4em;
}
.b01{
    background-image: url("../img/Buque/b01.png");
    background-size: 100% 100%;
    background-repeat: no-repeat;
    width: 4em;
    height: 4em;
}
.b11{
    background-image: url("../img/Buque/b11.png");
    background-size: 100% 100%;
    background-repeat: no-repeat;
    width: 4em;
    height: 4em;
}
.b21{
    background-image: url("../img/Buque/b21.png");
    background-size: 100% 100%;
    background-repeat: no-repeat;
    width: 4em;
    height: 4em;
}

/** CSS Para el destructor */
.d00{
    background-image: url("../img/Destructor/d00.png");
    background-size: 100% 100%;
    background-repeat: no-repeat;
    width: 4em;
    height: 4em;
}
.d10{
    background-image: url("../img/Destructor/d10.png");
    background-size: 100% 100%;
    background-repeat: no-repeat;
    width: 4em;
    height: 4em;
}
.d20{
    background-image: url("../img/Destructor/d20.png");
    background-size: 100% 100%;
    background-repeat: no-repeat;
    width: 4em;
    height: 4em;
}
.d30{
    background-image: url("../img/Destructor/d30.png");
    background-size: 100% 100%;
    background-repeat: no-repeat;
    width: 4em;
    height: 4em;
}
.d01{
    background-image: url("../img/Destructor/d01.png");
    background-size: 100% 100%;
    background-repeat: no-repeat;
    width: 4em;
    height: 4em;
}
.d11{
    background-image: url("../img/Destructor/d11.png");
    background-size: 100% 100%;
    background-repeat: no-repeat;
    width: 4em;
    height: 4em;
}
.d21{
    background-image: url("../img/Destructor/d21.png");
    background-size: 100% 100%;
    background-repeat: no-repeat;
    width: 4em;
    height: 4em;
}
.d31{
    background-image: url("../img/Destructor/d31.png");
    background-size: 100% 100%;
    background-repeat: no-repeat;
    width: 4em;
    height: 4em;
}
/** CSS Para la fragata */
.f00{
    background-image: url("../img/Fragata/f00.png");
    background-size: 100% 100%;
    background-repeat: no-repeat;
    width: 4em;
    height: 4em;
}
.f10{
    background-image: url("../img/Fragata/f10.png");
    background-size: 100% 100%;
    background-repeat: no-repeat;
    width: 4em;
    height: 4em;
}
.f01{
    background-image: url("../img/Fragata/f01.png");
    background-size: 100% 100%;
    background-repeat: no-repeat;
    width: 4em;
    height: 4em;
}
.f11{
    background-image: url("../img/Fragata/f11.png");
    background-size: 100% 100%;
    background-repeat: no-repeat;
    width: 4em;
    height: 4em;
}

/** CSS Para el submarino */
.s00{
    background-image: url("../img/Submarino/s00.png");
    background-size: 100% 100%;
    background-repeat: no-repeat;
    width: 4em;
    height: 4em;
}
.s10{
    background-image: url("../img/Submarino/s10.png");
    background-size: 100% 100%;
    background-repeat: no-repeat;
    width: 4em;
    height: 4em;
}
.s20{
    background-image: url("../img/Submarino/s20.png");
    background-size: 100% 100%;
    background-repeat: no-repeat;
    width: 4em;
    height: 4em;
}
.s01{
    background-image: url("../img/Submarino/s01.png");
    background-size: 100% 100%;
    background-repeat: no-repeat;
    width: 4em;
    height: 4em;
}
.s11{
    background-image: url("../img/Submarino/s11.png");
    background-size: 100% 100%;
    background-repeat: no-repeat;
    width: 4em;
    height: 4em;
}
.s21{
    background-image: url("../img/Submarino/s21.png");
    background-size: 100% 100%;
    background-repeat: no-repeat;
    width: 4em;
    height: 4em;
}
/** CSS Para el portaviones */
.p00{
    background-image: url("../img/Portaviones/p00.png");
    background-size: 100% 100%;
    background-repeat: no-repeat;
    width: 4em;
    height: 4em;
}
.p10{
    background-image: url("../img/Portaviones/p10.png");
    background-size: 100% 100%;
    background-repeat: no-repeat;
    width: 4em;
    height: 4em;
}
.p20{
    background-image: url("../img/Portaviones/p20.png");
    background-size: 100% 100%;
    background-repeat: no-repeat;
    width: 4em;
    height: 4em;
}
.p30{
    background-image: url("../img/Portaviones/p30.png");
    background-size: 100% 100%;
    background-repeat: no-repeat;
    width: 4em;
    height: 4em;
}
.p40{
    background-image: url("../img/Portaviones/p40.png");
    background-size: 100% 100%;
    background-repeat: no-repeat;
    width: 4em;
    height: 4em;
}
.p01{
    background-image: url("../img/Portaviones/p01.png");
    background-size: 100% 100%;
    background-repeat: no-repeat;
    width: 4em;
    height: 4em;
}
.p11{
    background-image: url("../img/Portaviones/p11.png");
    background-size: 100% 100%;
    background-repeat: no-repeat;
    width: 4em;
    height: 4em;
}
.p21{
    background-image: url("../img/Portaviones/p21.png");
    background-size: 100% 100%;
    background-repeat: no-repeat;
    width: 4em;
    height: 4em;
}
.p31{
    background-image: url("../img/Portaviones/p31.png");
    background-size: 100% 100%;
    background-repeat: no-repeat;
    width: 4em;
    height: 4em;
}
.p41{
    background-image: url("../img/Portaviones/p41.png");
    background-size: 100% 100%;
    background-repeat: no-repeat;
    width: 4em;
    height: 4em;
}
/** Diferentes estilos para divs y etiquetas de la app. */
.enPausa{
    background-image: url("../img/juegoEnPausa.gif");
}
.porDefecto{
    background-color: green;
}
.hidden {
    display: none;
}

.label{
    text-align: left;
    font-size: 100%;
    color: black;
    width: 90%;
}

.input{
    width: 3em;
    text-align: left;
}

#porDefecto1{
    background-color: beige;
}

#porDefecto2{
    background-color: azure;
}

.textoCreditos{
    text-align: center;
    color: blue;
}

.listaCreditos{
    margin-left: 5%;
    
}

.elementoUl{
    text-decoration: none;
    font-size: 1.1em;
}